@use "base" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $ubuntu;
  font-weight: 400;
  font-style: normal;
}

.main-container {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}

.poetsen-light {
  font-family: $poetsen;
  font-weight: 300;
  font-style: normal;
}

.poetsen-regular {
  font-family: $poetsen;
  font-weight: 400;
  font-style: normal;
}

.poetsen-medium {
  font-family: $poetsen;
  font-weight: 500;
  font-style: normal;
}

.poetsen-bold {
  font-family: $poetsen;
  font-weight: 700;
  font-style: normal;
}

.poetsen-light-italic {
  font-family: $poetsen;
  font-weight: 300;
  font-style: italic;
}

.poetsen-regular-italic {
  font-family: $poetsen;
  font-weight: 400;
  font-style: italic;
}

.poetsen-medium-italic {
  font-family: $poetsen;
  font-weight: 500;
  font-style: italic;
}

.poetsen-bold-italic {
  font-family: $poetsen;
  font-weight: 700;
  font-style: italic;
}

.ubuntu-light {
  font-family: $ubuntu;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: $ubuntu;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: $ubuntu;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: $ubuntu;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: $ubuntu;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: $ubuntu;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: $ubuntu;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: $ubuntu;
  font-weight: 700;
  font-style: italic;
}
